<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.vision.service.admin.persistence.mapper.SystemUserMapper">
  <resultMap id="BaseResultMap" type="org.vision.service.admin.persistence.model.SystemUser">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-04-08 18:40:13.
    -->
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="CHAR" property="password" />
    <result column="enabled" jdbcType="BIT" property="enabled" />
    <result column="locked" jdbcType="BIT" property="locked" />
    <result column="account_expire" jdbcType="TIMESTAMP" property="accountExpire" />
    <result column="credential_expire" jdbcType="TIMESTAMP" property="credentialExpire" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-04-08 18:40:13.
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-04-08 18:40:13.
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-04-08 18:40:13.
    -->
    id, username, password, enabled, locked, account_expire, credential_expire, created_time, 
    modified_time
  </sql>
  <select id="selectByExample" parameterType="org.vision.service.admin.persistence.model.SystemUserExample" resultMap="BaseResultMap">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-04-08 18:40:13.
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from system_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-04-08 18:40:13.
    -->
    select 
    <include refid="Base_Column_List" />
    from system_user
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-04-08 18:40:13.
    -->
    delete from system_user
    where id = #{id,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="org.vision.service.admin.persistence.model.SystemUserExample">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-04-08 18:40:13.
    -->
    delete from system_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.vision.service.admin.persistence.model.SystemUser">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-04-08 18:40:13.
    -->
    insert into system_user (id, username, password, 
      enabled, locked, account_expire, 
      credential_expire, created_time, modified_time
      )
    values (#{id,jdbcType=CHAR}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=CHAR}, 
      #{enabled,jdbcType=BIT}, #{locked,jdbcType=BIT}, #{accountExpire,jdbcType=TIMESTAMP}, 
      #{credentialExpire,jdbcType=TIMESTAMP}, #{createdTime,jdbcType=TIMESTAMP}, #{modifiedTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.vision.service.admin.persistence.model.SystemUser">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-04-08 18:40:13.
    -->
    insert into system_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="enabled != null">
        enabled,
      </if>
      <if test="locked != null">
        locked,
      </if>
      <if test="accountExpire != null">
        account_expire,
      </if>
      <if test="credentialExpire != null">
        credential_expire,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="modifiedTime != null">
        modified_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=CHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=CHAR},
      </if>
      <if test="enabled != null">
        #{enabled,jdbcType=BIT},
      </if>
      <if test="locked != null">
        #{locked,jdbcType=BIT},
      </if>
      <if test="accountExpire != null">
        #{accountExpire,jdbcType=TIMESTAMP},
      </if>
      <if test="credentialExpire != null">
        #{credentialExpire,jdbcType=TIMESTAMP},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedTime != null">
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.vision.service.admin.persistence.model.SystemUserExample" resultType="java.lang.Long">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-04-08 18:40:13.
    -->
    select count(*) from system_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-04-08 18:40:13.
    -->
    update system_user
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=CHAR},
      </if>
      <if test="record.username != null">
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null">
        password = #{record.password,jdbcType=CHAR},
      </if>
      <if test="record.enabled != null">
        enabled = #{record.enabled,jdbcType=BIT},
      </if>
      <if test="record.locked != null">
        locked = #{record.locked,jdbcType=BIT},
      </if>
      <if test="record.accountExpire != null">
        account_expire = #{record.accountExpire,jdbcType=TIMESTAMP},
      </if>
      <if test="record.credentialExpire != null">
        credential_expire = #{record.credentialExpire,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createdTime != null">
        created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifiedTime != null">
        modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-04-08 18:40:13.
    -->
    update system_user
    set id = #{record.id,jdbcType=CHAR},
      username = #{record.username,jdbcType=VARCHAR},
      password = #{record.password,jdbcType=CHAR},
      enabled = #{record.enabled,jdbcType=BIT},
      locked = #{record.locked,jdbcType=BIT},
      account_expire = #{record.accountExpire,jdbcType=TIMESTAMP},
      credential_expire = #{record.credentialExpire,jdbcType=TIMESTAMP},
      created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.vision.service.admin.persistence.model.SystemUser">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-04-08 18:40:13.
    -->
    update system_user
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=CHAR},
      </if>
      <if test="enabled != null">
        enabled = #{enabled,jdbcType=BIT},
      </if>
      <if test="locked != null">
        locked = #{locked,jdbcType=BIT},
      </if>
      <if test="accountExpire != null">
        account_expire = #{accountExpire,jdbcType=TIMESTAMP},
      </if>
      <if test="credentialExpire != null">
        credential_expire = #{credentialExpire,jdbcType=TIMESTAMP},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedTime != null">
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.vision.service.admin.persistence.model.SystemUser">
    <!--
      WARNING - 只读 - @mbg.generated
      This element was generated on 2019-04-08 18:40:13.
    -->
    update system_user
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=CHAR},
      enabled = #{enabled,jdbcType=BIT},
      locked = #{locked,jdbcType=BIT},
      account_expire = #{accountExpire,jdbcType=TIMESTAMP},
      credential_expire = #{credentialExpire,jdbcType=TIMESTAMP},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=CHAR}
  </update>
  
  <select id="getDetailList" parameterType="org.vision.service.admin.controller.criteria.SysUserGetListBO" resultType="org.vision.service.admin.service.vo.SysUserListVO">
    select
    	u.id user_id, 
    	u.username user_name, 
    	u.enabled, 
    	u.locked, 
    	u.account_expire, 
    	u.credential_expire, 
    	p.id profile_id, 
    	p.name profile_name, 
    	p.avatar, 
    	p.gender, 
    	p.created_time, 
    	p.modified_time
    from system_user u join system_user_profile p on u.id = p.id
    <where>
	    <if test="name != null and name !=''">
	      and p.`name` like CONCAT('%', #{name,jdbcType=VARCHAR}, '%')
	    </if>
	</where> 
	order by u.created_time desc   
  </select>  
</mapper>