<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.vision.service.admin.persistence.mapper.VisionCheckRecordMapper">

    <resultMap id="VisionSchoolMap" type="org.vision.service.admin.persistence.model.VisionSchool">
        <id column="s_id" property="id" jdbcType="CHAR"/>
        <result column="s_name" property="name" jdbcType="VARCHAR"/>
        <result column="s_province" property="province" jdbcType="VARCHAR"/>
        <result column="s_city" property="city" jdbcType="VARCHAR"/>
        <result column="s_county" property="county" jdbcType="VARCHAR"/>
        <result column="s_detail_address" property="detailAddress" jdbcType="VARCHAR"/>
        <result column="s_created_time" property="createdTime" jdbcType="DATE"/>
        <result column="s_modified_time" property="modifiedTime" jdbcType="DATE"/>
    </resultMap>

    <resultMap id="VisionSchoolClassMap" type="org.vision.service.admin.persistence.model.VisionSchoolClass">
        <id column="sc_id" property="id" jdbcType="CHAR"/>
        <result column="sc_vision_school_id" property="visionSchoolId" jdbcType="CHAR"/>
        <result column="sc_name" property="name" jdbcType="VARCHAR"/>
        <result column="sc_created_time" property="createdTime" jdbcType="DATE"/>
        <result column="sc_modified_time" property="modifiedTime" jdbcType="DATE"/>
    </resultMap>
    
    <resultMap id="VisionActivityMap" type="org.vision.service.admin.persistence.model.VisionActivity">
        <id column="a_id" property="id" jdbcType="CHAR"/>
        <result column="a_name" property="name" jdbcType="VARCHAR"/>
        <result column="a_address" property="address" jdbcType="VARCHAR"/>
        <result column="a_begin_date" property="beginDate" jdbcType="DATE"/>
        <result column="a_end_date" property="endDate" jdbcType="DATE"/>
        <result column="a_content" property="content" jdbcType="VARCHAR"/>
        <result column="a_contact_man" property="contactMan" jdbcType="VARCHAR"/>
        <result column="a_contact_phone_number" property="contactPhoneNumber" jdbcType="VARCHAR"/>
        <result column="a_created_time" property="createdTime" jdbcType="DATE"/>
        <result column="a_modified_time" property="modifiedTime" jdbcType="DATE"/>
    </resultMap>

    <resultMap id="VisionClientMap" type="org.vision.service.admin.persistence.model.VisionClient">
        <id column="c_id" property="id" jdbcType="CHAR"/>
        <result column="c_wx_client_id" property="wxClientId" jdbcType="CHAR"/>
        <result column="c_name" property="name" jdbcType="VARCHAR"/>
        <result column="c_gender" property="gender" jdbcType="BIT"/>
        <result column="c_age" property="age" jdbcType="INTEGER"/>
        <result column="c_id_number" property="idNumber" jdbcType="VARCHAR"/>
        <result column="c_native_place" property="nativePlace" jdbcType="VARCHAR"/>
        <result column="c_height" property="height" jdbcType="DECIMAL"/>
        <result column="c_weight" property="weight" jdbcType="DECIMAL"/>
        <result column="c_birthday" property="birthday" jdbcType="DATE"/>
        <result column="c_phone_number" property="phoneNumber" jdbcType="VARCHAR"/>
        <result column="c_province" property="province" jdbcType="VARCHAR"/>
        <result column="c_city" property="city" jdbcType="VARCHAR"/>
        <result column="c_county" property="county" jdbcType="VARCHAR"/>
        <result column="c_detail_address" property="detailAddress" jdbcType="VARCHAR"/>
        <result column="c_vision_acuity_left" property="visionAcuityLeft" jdbcType="DECIMAL"/>
        <result column="c_vision_acuity_right" property="visionAcuityRight" jdbcType="DECIMAL"/>
        <result column="c_vision_acuity" property="visionAcuity" jdbcType="DECIMAL"/>
        <result column="c_diopters_left" property="dioptersLeft" jdbcType="INTEGER"/>
        <result column="c_diopters_right" property="dioptersRight" jdbcType="INTEGER"/>
        <result column="c_astigmatism_left" property="astigmatismLeft" jdbcType="INTEGER"/>
        <result column="c_astigmatism_right" property="astigmatismRight" jdbcType="INTEGER"/>
        <result column="c_joint_luminosity_left" property="jointLuminosityLeft" jdbcType="INTEGER"/>
        <result column="c_joint_luminosity_right" property="jointLuminosityRight" jdbcType="INTEGER"/>
        <result column="c_axis_left" property="axisLeft" jdbcType="INTEGER"/>
        <result column="c_axis_right" property="axisRight" jdbcType="INTEGER"/>
        <result column="c_pupil_distance" property="pupilDistance" jdbcType="INTEGER"/>
        <result column="c_created_time" property="createdTime" jdbcType="DATE"/>
        <result column="c_modified_time" property="modifiedTime" jdbcType="DATE"/>
    </resultMap>

	<resultMap id="VisionCheckRecordMap" type="org.vision.service.admin.persistence.model.VisionCheckRecord">
		<id column="cr_id" jdbcType="CHAR" property="id" />
	    <result column="cr_vision_client_id" jdbcType="CHAR" property="visionClientId" />
	    <result column="cr_eye_type" jdbcType="CHAR" property="eyeType" />
	    <result column="cr_check_date" jdbcType="TIMESTAMP" property="checkDate" />
	    <result column="cr_data_type" jdbcType="BIT" property="dataType" />
	    <result column="cr_picture_file" jdbcType="VARCHAR" property="pictureFile" />
	    <result column="cr_pupil" jdbcType="DECIMAL" property="pupil" />
	    <result column="cr_se1" jdbcType="DECIMAL" property="se1" />
	    <result column="cr_ds1" jdbcType="DECIMAL" property="ds1" />
	    <result column="cr_dc1" jdbcType="DECIMAL" property="dc1" />
	    <result column="cr_axis1" jdbcType="INTEGER" property="axis1" />
	    <result column="cr_se2" jdbcType="DECIMAL" property="se2" />
	    <result column="cr_ds2" jdbcType="DECIMAL" property="ds2" />
	    <result column="cr_dc2" jdbcType="DECIMAL" property="dc2" />
	    <result column="cr_axis2" jdbcType="INTEGER" property="axis2" />
	    <result column="cr_pd" jdbcType="INTEGER" property="pd" />
	    <result column="cr_mm_hg" jdbcType="DECIMAL" property="mmHg" />
	    <result column="cr_gaze_h" jdbcType="INTEGER" property="gazeH" />
	    <result column="cr_gaze_v" jdbcType="INTEGER" property="gazeV" />
	    <result column="cr_remark" jdbcType="VARCHAR" property="remark" />
	    <result column="cr_enabled" jdbcType="BIT" property="enabled" />
	    <result column="cr_create_time" jdbcType="TIMESTAMP" property="createTime" />
	    <result column="cr_modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    </resultMap>

    

    <resultMap id="BaseMap" type="org.vision.service.admin.persistence.model.VisionCheckRecordClientView">
        <association property="visionActivity" resultMap="VisionActivityMap"/>
        <association property="visionClient" resultMap="VisionClientMap"/>
        <association property="visionSchool" resultMap="VisionSchoolMap"/>
        <association property="visionSchoolClass" resultMap="VisionSchoolClassMap"/>
        <association property="visionCheckRecord" resultMap="VisionCheckRecordMap"/>
    </resultMap>
    <sql id="Base_Column_List">
      SELECT
      a.id as a_id, a.name as a_name, a.address as a_address, a.begin_date as a_begin_date, a.end_date as a_end_date,
      a.content as a_content, a.contact_man as a_contact_man, a.contact_phone_number as a_contact_phone_number,
      a.remark as a_remark, a.archived as a_archived, a.created_time as a_created_time, a.modified_time as a_modified_time,
      ac.vision_activity_id as ac_vision_activity_id, ac.vision_member_id as ac_vision_member_id, ac.vision_client_id as ac_vision_client_id, ac.enabled as ac_enabled,
      ac.created_time as ac_create_time, c.id as c_id, c.wx_client_id as c_wx_client_id, c.name as c_name, c.gender as c_gender, c.age as c_age,
      c.id_number as c_id_number, c.native_place as c_native_place, c.height as c_height, c.weight as c_weight,
      c.birthday as c_birthday, c.phone_number as c_phone_number, c.province as c_province, c.city as c_city,
      c.county as c_county, c.detail_address as c_detail_address, c.vision_acuity_left as c_vision_acuity_left,
      c.vision_acuity_right as c_vision_acuity_right, c.vision_acuity as c_vision_acuity, c.diopters_left as c_diopters_left,
      c.diopters_right as c_diopters_right, c.astigmatism_left as c_astigmatism_left, c.astigmatism_right as c_astigmatism_right,
      c.joint_luminosity_left as c_joint_luminosity_left, c.joint_luminosity_right as c_joint_luminosity_right,
      c.axis_left as c_axis_left, c.axis_right as c_axis_right, c.pupil_distance as c_pupil_distance,
      c.created_time as c_created_time, c.modified_time as c_modified_time, scm.id as scm_id,
      scm.vision_class_id as scm_vision_class_id, scm.vision_client_id as scm_vision_client_id, scm.student_number as scm_student_number,
      scm.created_time as scm_created_time, scm.modified_time as scm_modified_time, sc.id as sc_id, sc.vision_school_id as sc_vision_school_id,
      sc.name as sc_name, sc.created_time as sc_created_time, sc.modified_time as sc_modified_time, s.id as s_id, s.name as s_name,
      s.province as s_province, s.county as s_county, s.city as s_city, s.detail_address as s_detail_address,
      s.created_time as s_created_time, s.modified_time as s_modified_time,cr.`id`, cr.`vision_client_id`, cr.`eye_type`, cr.`check_date`, cr.`data_type`, 
      cr.`picture_file`, cr.`pupil`, cr.`se1`, cr.`ds1`, cr.`dc1`, cr.`axis1`, cr.`se2`, cr.`ds2`, cr.`dc2`, cr.`axis2`, cr.`pd`, cr.`mm_hg`, 
      cr.`gaze_h`, cr.`gaze_v`, cr.`remark`, cr.`enabled`, cr.`create_time`, cr.`modified_time`
      FROM vision_activity a
      INNER JOIN vision_activity_client ac on a.id = ac.vision_activity_id
      INNER JOIN vision_client c on ac.vision_client_id = c.id
      INNER JOIN vision_check_record cr on c.id = cr.vision_client_id
      INNER JOIN vision_school_class_member scm on scm.vision_client_id = c.id
      INNER JOIN vision_school_class sc on sc.id = scm.vision_class_id
      INNER JOIN vision_school s on s.id = sc.vision_school_id
    </sql>

    <select id="selectByCriteria" resultMap="BaseMap"
            resultType="org.vision.service.admin.persistence.model.VisionActivityClientView" parameterType="org.vision.service.admin.controller.criteria.CheckRecordCriteria">
        <include refid="Base_Column_List"/>
        <where>
            <if test="name != null and nameCriteria !=''">
                and `name` like CONCAT('%', #{nameCriteria,jdbcType=VARCHAR}, '%')
            </if>
            <if test="beginDate != null"><![CDATA[
              and begin_date >= #{beginDate, jdbcType=DATE}
          ]]></if>
            <if test="endDate != null"><![CDATA[
              and end_date <= #{endDate, jdbcType=DATE}]]>
            </if>
            and archived = #{archived, jdbcType=BIT}
        </where>
        order by begin_date desc
    </select>

    
</mapper>