<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.vision.service.admin.persistence.mapper.VisionActivityClientMapper">
    <resultMap id="VisionActivityMap" type="org.vision.service.admin.persistence.model.VisionActivity">
        <id column="va_id" property="id" jdbcType="CHAR"/>
        <result column="va_name" property="name" jdbcType="VARCHAR"/>
        <result column="va_address" property="address" jdbcType="VARCHAR"/>
        <result column="va_begin_date" property="beginDate" jdbcType="DATE"/>
        <result column="va_end_date" property="endDate" jdbcType="DATE"/>
        <result column="va_content" property="content" jdbcType="VARCHAR"/>
        <result column="va_contact_man" property="contactMan" jdbcType="VARCHAR"/>
        <result column="va_contact_phone_number" property="contactPhoneNumber" jdbcType="VARCHAR"/>
        <result column="va_created_time" property="createdTime" jdbcType="DATE"/>
        <result column="va_modified_time" property="modifiedTime" jdbcType="DATE"/>
    </resultMap>

    <resultMap id="VisionActivityClientMap" type="org.vision.service.admin.persistence.model.VisionActivityClient">
        <result column="vac_vision_activity_id" property="visionActivityId" jdbcType="CHAR"/>
        <result column="vac_vision_member_id" property="visionMemberId" jdbcType="CHAR"/>
        <result column="vac_vision_client_id" property="visionClientId" jdbcType="CHAR"/>
        <result column="vac_enabled" property="enabled" jdbcType="BIT"/>
        <result column="vac_created_time" property="createdTime" jdbcType="DATE"/>
    </resultMap>

    <resultMap id="VisionClientMap" type="org.vision.service.admin.persistence.model.VisionClient">
        <id column="vc_id" property="id" jdbcType="CHAR"/>
        <result column="vc_wx_client_id" property="wxClientId" jdbcType="CHAR"/>
        <result column="vc_name" property="name" jdbcType="VARCHAR"/>
        <result column="vc_gender" property="gender" jdbcType="BIT"/>
        <result column="vc_age" property="age" jdbcType="INTEGER"/>
        <result column="vc_id_number" property="idNumber" jdbcType="VARCHAR"/>
        <result column="vc_native_place" property="nativePlace" jdbcType="VARCHAR"/>
        <result column="vc_height" property="height" jdbcType="DECIMAL"/>
        <result column="vc_weight" property="weight" jdbcType="DECIMAL"/>
        <result column="vc_birthday" property="birthday" jdbcType="DATE"/>
        <result column="vc_phone_number" property="phoneNumber" jdbcType="VARCHAR"/>
        <result column="vc_province" property="province" jdbcType="VARCHAR"/>
        <result column="vc_city" property="city" jdbcType="VARCHAR"/>
        <result column="vc_county" property="county" jdbcType="VARCHAR"/>
        <result column="vc_detail_address" property="detailAddress" jdbcType="VARCHAR"/>
        <result column="vc_vision_acuity_left" property="visionAcuityLeft" jdbcType="DECIMAL"/>
        <result column="vc_vision_acuity_right" property="visionAcuityRight" jdbcType="DECIMAL"/>
        <result column="vc_vision_acuity" property="visionAcuity" jdbcType="DECIMAL"/>
        <result column="vc_student_number" property="studentNumber" jdbcType="VARCHAR"/>
        <result column="vc_created_time" property="createdTime" jdbcType="DATE"/>
        <result column="vc_modified_time" property="modifiedTime" jdbcType="DATE"/>
    </resultMap>

    <resultMap id="VisionSchoolMap" type="org.vision.service.admin.persistence.model.VisionSchool">
        <id column="vs_id" property="id" jdbcType="CHAR"/>
        <result column="vs_name" property="name" jdbcType="VARCHAR"/>
        <result column="vs_province" property="province" jdbcType="VARCHAR"/>
        <result column="vs_city" property="city" jdbcType="VARCHAR"/>
        <result column="vs_county" property="county" jdbcType="VARCHAR"/>
        <result column="vs_detail_address" property="detailAddress" jdbcType="VARCHAR"/>
        <result column="vs_created_time" property="createdTime" jdbcType="DATE"/>
        <result column="vs_modified_time" property="modifiedTime" jdbcType="DATE"/>
    </resultMap>

    <resultMap id="VisionSchoolClassMap" type="org.vision.service.admin.persistence.model.VisionSchoolClass">
        <id column="vsc_id" property="id" jdbcType="CHAR"/>
        <result column="vsc_vision_school_id" property="visionSchoolId" jdbcType="CHAR"/>
        <result column="vsc_name" property="name" jdbcType="VARCHAR"/>
        <result column="vsc_created_time" property="createdTime" jdbcType="DATE"/>
        <result column="vsc_modified_time" property="modifiedTime" jdbcType="DATE"/>
    </resultMap>

    <resultMap id="VisionSchoolClassMemberMap"
               type="org.vision.service.admin.persistence.model.VisionSchoolClassMember">
        <id column="vscm_id" property="id" jdbcType="CHAR"/>
        <result column="vscm_vision_class_id" property="visionClassId" jdbcType="CHAR"/>
        <result column="vscm_vision_client_id" property="visionClientId" jdbcType="CHAR"/>
        <result column="vscm_student_number" property="studentNumber" jdbcType="VARCHAR"/>
        <result column="vscm_created_time" property="createdTime" jdbcType="DATE"/>
        <result column="vscm_modified_time" property="modifiedTime" jdbcType="DATE"/>
        <result column="vscm_enabled" property="enabled" jdbcType="BIT" />
    </resultMap>

    <resultMap id="BaseMap" type="org.vision.service.admin.persistence.model.VisionActivityClientView">
        <association property="visionActivity" resultMap="VisionActivityMap"/>
        <association property="visionActivityClient" resultMap="VisionActivityClientMap"/>
        <association property="visionClient" resultMap="VisionClientMap"/>
        <association property="visionSchool" resultMap="VisionSchoolMap"/>
        <association property="visionSchoolClass" resultMap="VisionSchoolClassMap"/>
        <association property="visionSchoolClassMember" resultMap="VisionSchoolClassMemberMap"/>
    </resultMap>
    <sql id="Base_Column_List">
      SELECT va.id                     as va_id,
             va.name                   as va_name,
             va.address                as va_address,
             va.begin_date             as va_begin_date,
             va.end_date               as va_end_date,
             va.content                as va_content,
             va.contact_man            as va_contact_man,
             va.contact_phone_number   as va_contact_phone_number,
             va.remark                 as va_remark,
             va.archived               as va_archived,
             va.created_time           as va_created_time,
             va.modified_time          as va_modified_time,
             vac.vision_activity_id    as vac_vision_activity_id,
             vac.vision_member_id      as vac_vision_member_id,
             vac.vision_client_id      as vac_vision_client_id,
             vac.enabled               as vac_enabled,
             vac.created_time          as vac_create_time,
             vc.id                     as vc_id,
             vc.wx_client_id           as vc_wx_client_id,
             vc.name                   as vc_name,
             vc.gender                 as vc_gender,
             vc.age                    as vc_age,
             vc.id_number              as vc_id_number,
             vc.native_place           as vc_native_place,
             vc.height                 as vc_height,
             vc.weight                 as vc_weight,
             vc.birthday               as vc_birthday,
             vc.phone_number           as vc_phone_number,
             vc.province               as vc_province,
             vc.city                   as vc_city,
             vc.county                 as vc_county,
             vc.detail_address         as vc_detail_address,
             vc.vision_acuity_left     as vc_vision_acuity_left,
             vc.vision_acuity_right    as vc_vision_acuity_right,
             vc.vision_acuity          as vc_vision_acuity,
             vc.student_number         as vc_student_number,
             vc.created_time           as vc_created_time,
             vc.modified_time          as vc_modified_time,
             vscm.id                   as vscm_id,
             vscm.vision_class_id      as vscm_vision_class_id,
             vscm.vision_client_id     as vscm_vision_client_id,
             vscm.student_number       as vscm_student_number,
             vscm.created_time         as vscm_created_time,
             vscm.modified_time        as vscm_modified_time,
             vscm.enabled              as vscm_enabled,
             vsc.id                    as vsc_id,
             vsc.vision_school_id      as vsc_vision_school_id,
             vsc.name                  as vsc_name,
             vsc.created_time          as vsc_created_time,
             vsc.modified_time         as vsc_modified_time,
             vs.id                     as vs_id,
             vs.name                   as vs_name,
             vs.province               as vs_province,
             vs.county                 as vs_county,
             vs.city                   as vs_city,
             vs.detail_address         as vs_detail_address,
             vs.created_time           as vs_created_time,
             vs.modified_time          as vs_modified_time
      FROM vision_activity va
               INNER JOIN vision_activity_client vac on va.id = vac.vision_activity_id
               INNER JOIN vision_client vc on vac.vision_client_id = vc.id
               INNER JOIN vision_school_class_member vscm on vscm.vision_client_id = vc.id
               INNER JOIN vision_school_class vsc on vsc.id = vscm.vision_class_id
               INNER JOIN vision_school vs on vs.id = vsc.vision_school_id
    </sql>

    <select id="selectByActivityId" resultMap="BaseMap"
            resultType="org.vision.service.admin.persistence.model.VisionActivityClientView" parameterType="string">
        <include refid="Base_Column_List"/>
        <where>
            and vac.vision_member_id = vscm.id
            and va.id = #{activityId, jdbcType=CHAR}
        </where>
        order by vs.`name`, vsc.`name`, `vc`.`name`
    </select>

    <select id="selectByClientId" resultMap="BaseMap" parameterType="string"
            resultType="org.vision.service.admin.persistence.model.VisionActivityClientView">
        <include refid="Base_Column_List"/>
        <where>
            and vac.vision_member_id = vscm.id
            and vc.id = #{clientId, jdbcType=CHAR}
        </where>
        order by vs.`name`, vsc.`name`, `vc`.`name`
    </select>
</mapper>