<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.vision.service.admin.persistence.mapper.VisionActivityClientCheckRecordMapper">

    <resultMap id="VisionCheckRecordMap" type="org.vision.service.admin.persistence.model.VisionCheckRecord">
        <result column="vcr_id" jdbcType="CHAR" property="id"/>
        <result column="vcr_vision_client_id" jdbcType="CHAR" property="visionClientId"/>
        <result column="vcr_eye_type" jdbcType="CHAR" property="eyeType"/>
        <result column="vcr_check_date" jdbcType="TIMESTAMP" property="checkDate"/>
        <result column="vcr_data_type" jdbcType="BIT" property="dataType"/>
        <result column="vcr_picture_file" jdbcType="VARCHAR" property="pictureFile"/>
        <result column="vcr_pupil" jdbcType="DECIMAL" property="pupil"/>
        <result column="vcr_se1" jdbcType="DECIMAL" property="se1"/>
        <result column="vcr_ds1" jdbcType="DECIMAL" property="ds1"/>
        <result column="vcr_dc1" jdbcType="DECIMAL" property="dc1"/>
        <result column="vcr_axis1" jdbcType="INTEGER" property="axis1"/>
        <result column="vcr_se2" jdbcType="DECIMAL" property="se2"/>
        <result column="vcr_ds2" jdbcType="DECIMAL" property="ds2"/>
        <result column="vcr_dc2" jdbcType="DECIMAL" property="dc2"/>
        <result column="vcr_axis2" jdbcType="INTEGER" property="axis2"/>
        <result column="vcr_pd" jdbcType="INTEGER" property="pd"/>
        <result column="vcr_mm_hg" jdbcType="DECIMAL" property="mmHg"/>
        <result column="vcr_gaze_h" jdbcType="INTEGER" property="gazeH"/>
        <result column="vcr_gaze_v" jdbcType="INTEGER" property="gazeV"/>
        <result column="vcr_remark" jdbcType="VARCHAR" property="remark"/>
        <result column="vcr_enabled" jdbcType="BIT" property="enabled"/>
        <result column="vcr_create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="vcr_modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
    </resultMap>
    <resultMap id="VisionActivityClientMap" type="org.vision.service.admin.persistence.model.VisionActivityClient">
        <result column="vac_vision_activity_id" property="visionActivityId" jdbcType="CHAR"/>
        <result column="vac_vision_member_id" property="visionMemberId" jdbcType="CHAR"/>
        <result column="vac_vision_client_id" property="visionClientId" jdbcType="CHAR"/>
        <result column="vac_enabled" property="enabled" jdbcType="BIT"/>
        <result column="vac_created_time" property="createdTime" jdbcType="DATE"/>
    </resultMap>
    <resultMap id="VisionActivityMap" type="org.vision.service.admin.persistence.model.VisionActivity">
        <id column="va_id" property="id" jdbcType="CHAR"/>
        <result column="va_name" property="name" jdbcType="VARCHAR"/>
        <result column="va_address" property="address" jdbcType="VARCHAR"/>
        <result column="va_begin_date" property="beginDate" jdbcType="DATE"/>
        <result column="va_end_date" property="endDate" jdbcType="DATE"/>
        <result column="va_content" property="content" jdbcType="VARCHAR"/>
        <result column="va_contact_man" property="contactMan" jdbcType="VARCHAR"/>
        <result column="va_contact_phone_number" property="contactPhoneNumber" jdbcType="VARCHAR"/>
        <result column="va_remark" property="remark" jdbcType="VARCHAR"/>
        <result column="va_archived" property="archived" jdbcType="BIT"/>
        <result column="va_created_time" property="createdTime" jdbcType="DATE"/>
        <result column="va_modified_time" property="modifiedTime" jdbcType="DATE"/>
    </resultMap>
    <resultMap id="VisionClientMap" type="org.vision.service.admin.persistence.model.VisionClient">
        <id column="vc_id" property="id" jdbcType="CHAR"/>
        <result column="vc_wx_client_id" property="wxClientId" jdbcType="CHAR"/>
        <result column="vc_name" property="name" jdbcType="VARCHAR"/>
        <result column="vc_gender" property="gender" jdbcType="BIT"/>
        <result column="vc_age" property="age" jdbcType="INTEGER"/>
        <result column="vc_id_number" property="idNumber" jdbcType="VARCHAR"/>
        <result column="vc_native_place" property="nativePlace" jdbcType="VARCHAR"/>
        <result column="vc_height" property="height" jdbcType="DECIMAL"/>
        <result column="vc_weight" property="weight" jdbcType="DECIMAL"/>
        <result column="vc_birthday" property="birthday" jdbcType="DATE"/>
        <result column="vc_phone_number" property="phoneNumber" jdbcType="VARCHAR"/>
        <result column="vc_province" property="province" jdbcType="VARCHAR"/>
        <result column="vc_city" property="city" jdbcType="VARCHAR"/>
        <result column="vc_county" property="county" jdbcType="VARCHAR"/>
        <result column="vc_detail_address" property="detailAddress" jdbcType="VARCHAR"/>
        <result column="vc_vision_acuity_left" property="visionAcuityLeft" jdbcType="DECIMAL"/>
        <result column="vc_vision_acuity_right" property="visionAcuityRight" jdbcType="DECIMAL"/>
        <result column="vc_vision_acuity" property="visionAcuity" jdbcType="DECIMAL"/>
        <result column="vc_student_number" property="studentNumber" jdbcType="VARCHAR" />
        <result column="vc_created_time" property="createdTime" jdbcType="DATE"/>
        <result column="vc_modified_time" property="modifiedTime" jdbcType="DATE"/>
    </resultMap>
    <resultMap id="VisionSchoolClassMemberMap"
               type="org.vision.service.admin.persistence.model.VisionSchoolClassMember">
        <id column="vscm_id" property="id" jdbcType="CHAR"/>
        <result column="vscm_vision_class_id" property="visionClassId" jdbcType="CHAR"/>
        <result column="vscm_vision_client_id" property="visionClientId" jdbcType="CHAR"/>
        <result column="vscm_student_number" property="studentNumber" jdbcType="VARCHAR"/>
        <result column="vscm_created_time" property="createdTime" jdbcType="DATE"/>
        <result column="vscm_modified_time" property="modifiedTime" jdbcType="DATE"/>
        <result column="vscm_enabled" property="enabled" jdbcType="BIT" />
    </resultMap>
    <resultMap id="VisionSchoolClassMap" type="org.vision.service.admin.persistence.model.VisionSchoolClass">
        <id column="vsc_id" property="id" jdbcType="CHAR"/>
        <result column="vsc_vision_school_id" property="visionSchoolId" jdbcType="CHAR"/>
        <result column="vsc_name" property="name" jdbcType="VARCHAR"/>
        <result column="vsc_created_time" property="createdTime" jdbcType="DATE"/>
        <result column="vsc_modified_time" property="modifiedTime" jdbcType="DATE"/>
    </resultMap>
    <resultMap id="VisionSchoolMap" type="org.vision.service.admin.persistence.model.VisionSchool">
        <id column="vs_id" property="id" jdbcType="CHAR"/>
        <result column="vs_name" property="name" jdbcType="VARCHAR"/>
        <result column="vs_province" property="province" jdbcType="VARCHAR"/>
        <result column="vs_city" property="city" jdbcType="VARCHAR"/>
        <result column="vs_county" property="county" jdbcType="VARCHAR"/>
        <result column="vs_detail_address" property="detailAddress" jdbcType="VARCHAR"/>
        <result column="vs_created_time" property="createdTime" jdbcType="DATE"/>
        <result column="vs_modified_time" property="modifiedTime" jdbcType="DATE"/>
    </resultMap>

    <resultMap id="BaseMap" type="org.vision.service.admin.persistence.model.VisionActivityClientCheckRecordView">
        <association property="visionActivity" resultMap="VisionActivityMap"/>
        <association property="visionActivityClient" resultMap="VisionActivityClientMap"/>
        <association property="visionClient" resultMap="VisionClientMap"/>
        <association property="visionSchool" resultMap="VisionSchoolMap"/>
        <association property="visionSchoolClass" resultMap="VisionSchoolClassMap"/>
        <association property="visionSchoolClassMember" resultMap="VisionSchoolClassMemberMap"/>
        <collection property="visionCheckRecordList" resultMap="VisionCheckRecordMap"/>
    </resultMap>
    <sql id="Base_Column_List">
        SELECT vcr.id                    as vcr_id,
               vcr.vision_client_id      as vcr_vision_client_id,
               vcr.eye_type              as vcr_eye_type,
               vcr.check_date            as vcr_check_date,
               vcr.data_type             as vcr_data_type,
               vcr.picture_file          as vcr_picture_file,
               vcr.pupil                 as vcr_pupil,
               vcr.se1                   as vcr_se1,
               vcr.ds1                   as vcr_ds1,
               vcr.dc1                   as vcr_dc1,
               vcr.axis1                 as vcr_axis1,
               vcr.se2                   as vcr_se2,
               vcr.ds2                   as vcr_ds2,
               vcr.dc2                   as vcr_dc2,
               vcr.axis2                 as vcr_axis2,
               vcr.pd                    as vcr_pd,
               vcr.mm_hg                 as vcr_mm_hg,
               vcr.gaze_h                as vcr_gaze_h,
               vcr.gaze_v                as vcr_gaze_v,
               vcr.remark                as vcr_remark,
               vcr.enabled               as vcr_enabled,
               vcr.create_time           as vcr_create_time,
               vcr.modified_time         as vcr_modified_time,
               vac.vision_activity_id    as vac_vision_activity_id,
               vac.vision_member_id      as vac_vision_member_id,
               vac.vision_client_id      as vac_vision_client_id,
               vac.enabled               as vac_enabled,
               vac.created_time          as vac_create_time,
               va.id                     as va_id,
               va.name                   as va_name,
               va.address                as va_address,
               va.begin_date             as va_begin_date,
               va.end_date               as va_end_date,
               va.content                as va_content,
               va.contact_man            as va_contact_man,
               va.contact_phone_number   as va_contact_phone_number,
               va.remark                 as va_remark,
               va.archived               as va_archived,
               va.modified_time          as va_modified_time,
               va.created_time           as va_created_time,
               vc.id                     as vc_id,
               vc.wx_client_id           as vc_wx_client_id,
               vc.name                   as vc_name,
               vc.gender                 as vc_gender,
               vc.age                    as vc_age,
               vc.id_number              as vc_id_number,
               vc.native_place           as vc_native_place,
               vc.height                 as vc_height,
               vc.weight                 as vc_weight,
               vc.birthday               as vc_birthday,
               vc.phone_number           as vc_phone_number,
               vc.province               as vc_province,
               vc.city                   as vc_city,
               vc.county                 as vc_county,
               vc.detail_address         as vc_detail_address,
               vc.vision_acuity_left     as vc_vision_acuity_left,
               vc.vision_acuity_right    as vc_vision_acuity_right,
               vc.vision_acuity          as vc_vision_acuity,
               vc.student_number         as vc_student_number,
               vc.created_time           as vc_created_time,
               vc.modified_time          as vc_modified_time,
               vscm.id                   as vscm_id,
               vscm.vision_class_id      as vscm_vision_class_id,
               vscm.student_number       as vscm_student_number,
               vscm.vision_client_id     as vscm_vision_client_id,
               vscm.created_time         as vscm_created_time,
               vscm.modified_time        as vscm_modified_time,
               vscm.enabled              as vscm_enabled,
               vsc.id                    as vsc_id,
               vsc.vision_school_id      as vsc_vision_school_id,
               vsc.name                  as vsc_name,
               vsc.created_time          as vsc_created_time,
               vsc.modified_time         as vsc_modified_time,
               vs.id                     as vs_id,
               vs.name                   as vs_name,
               vs.province               as vs_province,
               vs.county                 as vs_county,
               vs.city                   as vs_city,
               vs.detail_address         as vs_detail_address,
               vs.created_time           as vs_created_time,
               vs.modified_time          as vs_modified_time
        FROM vision_check_record vcr
                 INNER JOIN vision_activity_client_check_record vaccr ON vcr.id = vaccr.vision_check_record_id
                 INNER JOIN vision_activity_client vac ON vac.vision_client_id = vaccr.vision_client_id and
                                                          vac.vision_activity_id = vaccr.vision_activity_id
                 INNER JOIN vision_activity va ON vac.vision_activity_id = va.id
                 INNER JOIN vision_client vc ON vac.vision_client_id = vc.id
                 INNER JOIN vision_school_class_member vscm on vc.id = vscm.vision_client_id
                 INNER JOIN vision_school_class vsc on vsc.id = vscm.vision_class_id
                 INNER JOIN vision_school vs on vs.id = vsc.vision_school_id
    </sql>

    <select id="selectByCriteria" resultMap="BaseMap"
            parameterType="org.vision.service.admin.controller.criteria.VisionCheckRecordCriteria">
        <include refid="Base_Column_List"/>
        <where>
            <if test="schoolName != null and schoolName !=''">
                and vs.`name` like CONCAT('%', #{schoolName,jdbcType=VARCHAR}, '%')
            </if>
            <if test="className != null and className !=''">
                and vsc.`name` like CONCAT('%', #{className,jdbcType=VARCHAR}, '%')
            </if>
            <if test="name != null and name !=''">
                and vc.`name` like CONCAT('%', #{name,jdbcType=VARCHAR}, '%')
            </if>
            <if test="idNumber != null and idNumber !=''">
                and vc.`id_number` like CONCAT('%', #{idNumber,jdbcType=VARCHAR}, '%')
            </if>
            <if test="activityName != null and activityName !=''">
                and va.`name` like CONCAT('%', #{activityName,jdbcType=VARCHAR}, '%')
            </if>

            <if test="beginDate != null and beginDate != ''">
                <![CDATA[and vcr.created_time >= #{beginDate, jdbcType=DATE}]]></if>
            <if test="endDate != null and endDate != ''">
                <![CDATA[and vcr.created_time <= #{endDate, jdbcType=DATE}]]>
            </if>
        </where>
        order by va.id, vc.id, vcr.id
    </select>

    <select id="selectByActivityId" resultMap="BaseMap" parameterType="String">
        <include refid="Base_Column_List"/>
        where
        va.`id` = #{activityId,jdbcType=CHAR}
        order by va.id, vc.id, vcr.id
    </select>

</mapper>